$primary_color: #000;
$text_color: #fff;
$accent_color: #f09;
$error_color: rgb(255, 0, 0);
$success_color: rgb(43, 255, 0);

$font_special: 'Neon';
$font_regular: 'Stolzl';

$gap_s: 8px;
$gap_m: $gap_s * 2;
$gap_l: $gap_m * 2;
