@import '../../assets/scss/vars';
@import '../../assets/scss/extends';
@import '../../assets/scss/mixins';

.settings {
  &__container {
    display: flex;
    flex-direction: column;

    margin-top: $gap_l;
  }

  &__btn {
    width: 100%;

    align-self: center;

    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }
}